::ng-deep .custom-dialog-container {
  width: 100vw !important;  /* 80% of viewport width */
  max-width: 1300px !important; /* or any max width */
}

::ng-deep .mat-select-trigger {
  display: inline-flex !important;   /* instead of flex with space-between */
  justify-content: flex-start !important; /* keep content and arrow close */
  gap: 4px; /* small gap between text and arrow */
}

::ng-deep .mat-select-arrow {
  position: relative;
  right: 0; /* remove default large spacing */
}


// removing :vertical line come during selcting region

::ng-deep .mat-mdc-form-field .mdc-notched-outline__notch {
  border-right: none !important;
}   



.hierarchy-section {
  transition: all 0.2s ease;
}

/* Previously selected section */
.hierarchy-section.selection-completed {
  background: #eff6ff;
  border: 2px solid #3b82f6;
  box-shadow: 0 2px 8px rgba(59, 130, 246, 0.12);
}

/* Make the section heading slightly stronger */
.hierarchy-section.selection-completed h3 {
  font-weight: 700;
}